{% if items %}
<ul class="list-unstyled gobear-job-list">
  {% for item in items %}
    <li class="clearfix">
      {{ item }}
    </li>
  {% endfor %}
</ul>
{% else %}
  <p>
    {% trans %}
      No items found. Please check again later.
    {% endtrans %}
  </p>
{% endif %}

